"data/bud_mx_2020.csv" 
data/presupuesto_mexico__2020.csv
db/knowledge.lance/_transactions/9-f3c5e342-aee3-4aa9-b1ba-2ba6d09b7700.txn
db/knowledge.lance/_versions/10.manifest
db/knowledge.lance/data/5b0a943f-5a67-4d75-a7b2-ef77f600a55a.lance
